<%- include('footer') -%><!--footer final da pagina-->
	
	</div> <!--div do pager da pagina-->

    <%- include('footer-gototop') -%><!--setinha no canto direito abaixo que ao clicar vai para o topo da pagina-->
	
	<%- include('footer-scripts') -%><!--scripts abaixo do js do footer-->

</body>

</html>